<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.full_name %></h1>
    <p>
      Here your information:
      First name: <%= @user.first_name %>
      Last name: <%= @user.last_name %>
      Phone: <%= @user.phone %>
      Email: <%= @user.email %>
    </p>
  </body>
</html>
